<br />
<div class="footer">
	<br /> <br />
	<div class="top-menu">
		<ul>
			<li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Acerca", about_path %></li>
			<li><%= link_to "Menú", products_path %></li>
			<li><%= link_to "Contacto", contact_path %></li>
		</ul>
	</div>
</div>