<br />
<div class="footer">
	<br /> <br />
	<div class="top-menu">
		<ul>
			<li><%= link_to "Home", root_path %></li>
    		<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Menu", products_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
</div>