<div class="responsive-container">

<%= render partial: "shared/links" %>
			

<div class="grids">
			<div class="contact">
				<div class="slider-1">
		<h3>Localización</h3>
	<div class="map">
		<iframe width="380" height="330" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=SushiOne%20Ave%20Alvaro%20Obregon%20285%2C%20Zona%20Central%2C%2023000%20La%20Paz%2C%20B.C.S.%2C%20Mexico&key=AIzaSyCTh79V8uNI2svJLRkiLsGnBBJsE3EOCu4" allowfullscreen></iframe>
	</div>	
<div class="grids">
	<h4>Sushi One</h4><br>
	<span>Malecon</span><br>
	<span>La Paz, BCS </span><br>
	<span>Teléfono: +52 612 122 3024</span> <br>
	</div>
	</div>
	<div class="slider-2">
		<h3>Estar en contacto</h3>
<div class="table-form">
	<table cellspacing="8">
    <tbody>
    <tr><td colspan="6"> <input type="text" class="textbox" value="Name:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"></td></tr>
     <tr><td colspan="6"> <input type="text" class="textbox" value="Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></td></tr>
    <tr><td colspan="6"> <input type="text" class="textbox" value="Phone:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}"></td></tr>
 	<tr><td colspan="6"> <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Mensaje</textarea>
</td></tr>
  <td>
  	 </tbody></table>
  	 <div class="Button-form">
  	 	<ul>
  	 		<li><input type="submit"></li>
  	 		<li><input type="reset"></li>
  	 	</ul>
			
     </div>
   </div>
   
	</div>

	<div class="clear"> </div>

</div>
</div>
			
	
<div class="clear">
</div>

<%= render partial: "shared/footer" %>

</div>






