// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.panel-body {
  padding-bottom: 55px;
}


#products {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 250px;
}

.box img {
  padding-top: 0.5em;
  width: 100%;
  -webkit-transition: all .3s ease-out;		
  -moz-transition: all .3s ease-out;		
  -o-transition: all .3s ease-out;		
  transition: all .3s ease-out;		
  &:hover{		
  	transform: scale(1.05);		
  }

}



